<!doctype html>
<html lang="{{ site.lang }}">
  <!-- Head -->
  <head>
    {% include head.liquid %}
    <style>
      body, html {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #calendar {
        height: 80vh; /* 调整高度以占据视图高度的80% */
        width: 90%; /* 调整宽度以占据页面的90% */
        margin: 0px auto;
      }
    </style>
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    <!-- Header -->
    {% include header.liquid %}

    <!-- Content -->
    <div class="container mt-5" role="main">
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          <div class="clearfix">{{ content }}</div>

          <!-- Calendar -->
          <div id="calendar">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Asia%2FTaipei&bgcolor=%23ffffff&src=a296YWsyMDAxMDcxNkBnbWFpbC5jb20&src=ajVkaG01NW1ub2JubzZoYmJ1MWNrNGVjbTEzMGZuMmRAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&src=emgtdHcudGFpd2FuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%23C0CA33&color=%230B8043" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
        </article>
      </div>
    </div>

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="container">
          <div class="contact-icons">{% include social.liquid %}</div>
          <div class="contact-note">{{ site.contact_note }}</div>
        </div>
      </div>
    {% endif %}

    <!-- Footer -->
    {% include footer.liquid %}

    <!-- JavaScripts -->
    {% include scripts/jquery.liquid %}
    {% include scripts/bootstrap.liquid %}
    {% include scripts/masonry.liquid %}
    {% include scripts/mermaid.liquid %}
    {% include scripts/diff2html.liquid %}
    {% include scripts/leaflet.liquid %}
    {% include scripts/chartjs.liquid %}
    {% include scripts/echarts.liquid %}
    {% include scripts/vega.liquid %}
    {% include scripts/tikzjax.liquid %}
    {% include scripts/typograms.liquid %}
    {% include scripts/misc.liquid %}
    {% include scripts/badges.liquid %}
    {% include scripts/mathjax.liquid %}
    {% include scripts/pseudocode.liquid %}
    {% include scripts/analytics.liquid %}
    {% include scripts/progressBar.liquid %}
    {% include scripts/wechatModal.liquid %}
    {% include scripts/imageLayouts.liquid %}
    {% include scripts/jekyll_tabs.liquid %}
    {% include scripts/back_to_top.liquid %}
    {% include scripts/search.liquid %}
    <script src="{{ '/assets/js/shortcut-key.js' | relative_url }}"></script>
  </body>
</html>