<!doctype html>
<html lang="{{ site.lang }}">
  <!-- Head -->
  <head>
    {% include head.liquid %}
    <style>
      body, html {
        height: 90%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      #calendar-container {
        display: flex;
        height: 100vh; /* 调整高度以占据视图高度的80% */
        width: 100%;
        padding: 0;
      }
      #calendar {
        width: 130%; /* 调整宽度以占据页面的90% */
        max-width: none; /* 最大宽度 */
        margin: 10px -20px 50px;
        overflow-x: auto;
      }
      iframe {
        width: 125%;
        height: 99%;
        border: 0;
      }
    </style>
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    <!-- Header -->
    {% include header.liquid %}

    <!-- Content -->
    <div class="container mt-5" role="main">
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          <div class="clearfix">{{ content }}</div>

          <!-- Calendar -->
          <div id="calendar-container">
            <div id="calendar">
              <iframe src="https://outlook.office365.com/owa/calendar/4367590b26c8400eb4ac35241304fb0f@imperial.ac.uk/743523ad324a46bdb47fc46e6358791c2855423012815369094/calendar.html" frameborder="0" scrolling="no"></iframe>
            </div>
          </div>
        </article>
      </div>
    </div>

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="container">
          <div class="contact-icons">{% include social.liquid %}</div>
          <div class="contact-note">{{ site.contact_note }}</div>
        </div>
      </div>
    {% endif %}

    <!-- Footer -->
    {% include footer.liquid %}

    <!-- JavaScripts -->
    {% include scripts/jquery.liquid %}
    {% include scripts/bootstrap.liquid %}
    {% include scripts/masonry.liquid %}
    {% include scripts/mermaid.liquid %}
    {% include scripts/diff2html.liquid %}
    {% include scripts/leaflet.liquid %}
    {% include scripts/chartjs.liquid %}
    {% include scripts/echarts.liquid %}
    {% include scripts/vega.liquid %}
    {% include scripts/tikzjax.liquid %}
    {% include scripts/typograms.liquid %}
    {% include scripts/misc.liquid %}
    {% include scripts/badges.liquid %}
    {% include scripts/mathjax.liquid %}
    {% include scripts/pseudocode.liquid %}
    {% include scripts/analytics.liquid %}
    {% include scripts/progressBar.liquid %}
    {% include scripts/wechatModal.liquid %}
    {% include scripts/imageLayouts.liquid %}
    {% include scripts/jekyll_tabs.liquid %}
    {% include scripts/back_to_top.liquid %}
    {% include scripts/search.liquid %}
    <script src="{{ '/assets/js/shortcut-key.js' | relative_url }}"></script>
  </body>
</html>
